

@font-face {
  font-family: spiderman;
  src: url("../fonts/HOMOARAK.TTF");
}

*{
    box-sizing: border-box;
    /*background-color: black;*/
    color: whitesmoke;
    font-family: spiderman;
}

html, body{
    background-color: black;
    width: 100%;
    height: 100%;
    margin: 0px;
}

/* Elementos de neutralidad */
header, section, article, footer, aside, nav,h1{
    display: flex;
    margin: 0;
    padding: 0;
}


header{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(129, 31, 31);
    border: 1px solid black;
    color: black;
    padding: 20px;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

header a{
    color: white;
    text-decoration: none;
    font-size: large;
}

header a:hover{
    color: black;
}

header div{
    margin: auto;
}

header div:nth-child(6){
    display: none;
}
header div:nth-child(7){
    display: none;
}
header div:nth-child(5){
    margin-right: 0px;
}
header div:nth-child(1){
    margin-left: 0px;
}

#logo{
    height: 50px; 
    width: 50px; 
    margin-left: 0px;
}

#myLinks {
    display: none;
    margin-top: 100px;
  }

#myLinks div{
    display: flex;
    margin: 15px;
    align-items: center;
    justify-content: center;
    font-size: x-large;
}

.contenedor-video {
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (h divided by w) */
  }
  .contenedor-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

footer{
    flex-direction: row;
    justify-content: space-evenly;
    height: 40px;
    width: 100%;
    background-color: rgb(129, 31, 31);
    color: black;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9999;
}

footer img{
    width: 24px;
    height: 24px;
}

footer div{
    padding: 10px;
}



#landing_gif{
    position: absolute;
    top: 0%;
    right: 0%;
    width: 200px;
    height: 220px;
    animation: mover 10s linear infinite;
    /*background-color: blue;*/
    background-image: url('../images/landing_gif.gif');
    background-repeat: no-repeat;
    overflow: hidden;
    transition: opacity 0.5s ease-in-out;
    transition-property: all
}

@keyframes mover {
0% {
  margin-right: 0%;
}
100% {
  margin-right: 100%;
}
}

#landing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(129, 31, 31);
    margin: 0px;
    height: 100%;
    width: 100%;
    transition: height 0.75s ease;
    /*padding: 20px;*/
}

#landing div, #landing div h1{
    color: white;
    font-size: 64px;
}

.flex-container-row{
    flex-direction: row;
}

.flex-container-column{
    flex-direction: column;
}

.personaje{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    align-items: center;
    width: 100%;
    height: 600px;
}

.personaje div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    border: 0px red solid;
    padding: 20px;
    position: relative;
}


.habilidades{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 700px;
    background-color: #151D20
}

.habilidades div:not(.mySlides){
    display: flex;
    align-items: center;
    justify-content: center;
    /*margin: 20px;*/
    width: 50%;
    padding: 10px;
    background-color: #151D20
}



.enemigos{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(129, 31, 31);
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 800px;
}

.enemigos div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    border: 0px red solid;
    padding: 20px;
}

.aliados{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 700px;
    background-color: #151D20
}

.contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('../images/contact-transparent.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    align-items: center;
    width: 100%;
    height: 700px;
    background-color: rgba(0, 0, 0);
}

.horizontal_decoration{
    display: flex;
    width: 100%; 
    height: 200px;
    background-color: white;
}

div ul li{
    float: left;
    list-style: outside none none;
    margin-right: 10px;
    border: 2px solid black;
    padding: 10px;
    font-size: 32px;
}

div ul li:hover{
    background-color: white;
    color: black;
}

.img_responsive{
    display: flex;
    position: absolute;
    border-radius: 45px 45px 45px 45px;
    padding: 30px;
    width: 100%;
    height: auto;
    max-height: 100%;
    backface-visibility: hidden;
    transition: transform 1s;;
}

.enemigos_imagen{
    position: relative;
    height: auto;
    max-height: 100%;
}
.personaje #personaje_imagen:hover .front{
    transform: rotateY(180deg);
}

.personaje #personaje_imagen:hover .back{
    transform: rotateY(0deg);
}

.back{
    transform: rotateY(180deg);
}

.no_landing{
    display: none;
}

#form{
    margin: 20px;
    width: 600px;
    height: 400px;
}

input, textarea{
    color: white;
    background-color: #151D20;
    width: 100%;
}
/* Media */
@media only screen and (min-width:769px){
    /* styles for mobile browsers smaller than 480px; (iPhone) */
    
}
@media only screen and (min-width:541px) and (max-width:769px) {
    #landing div, #landing div h1{
        color: white;
        font-size: 42px;
    }
    header{
        height: auto;
    }
    header div:nth-child(1){
        margin-left: 0px;
    }
    header div:nth-child(2){
        display: none;
    }
    header div:nth-child(3){
        display: none;
    }
    header div:nth-child(4){
        display: none;
    }
    header div:nth-child(5){
        display: none;
    }
    header div:nth-child(6){
        display: block;
    }
    header div:nth-child(7){
        display: block;
        margin-right: 0px;
    }
    footer{
        flex-direction: column;
        height: auto;
    }
    footer div{
        padding: 5px;
    }
    div ul li{
        font-size: 24px;
    }
    .personaje{
        flex-direction: column;
        height: auto;
    }
    .personaje div{
        width: 100%;
        height: auto;
        min-height: 400px;
    }
    .enemigos{
        flex-direction: column;
        height: auto;
    }
    .enemigos div{
        flex-direction: column;
        width: 100%;
    }
    .habilidades{
        flex-direction: column;
        height: auto;
    }
    .habilidades div:not(.mySlides){
        width: 100%;
    }

    .aliados{
        width: 100%;
        height: 100px;
    }

    .contacto{
        width: 100%;
        height: auto;
    }
    #form{
        margin: 20px;
        width: 100%;
        height: auto;
    }
}
@media only screen and (max-width:540px){
    #landing div, #landing div h1{
        color: white;
        font-size: 24px;
    }
    header{
        height: auto;
    }
    header div{
        margin: auto;
    }
    header div:nth-child(1){
        margin-left: 0px;
    }
    header div:nth-child(2){
        display: none;
    }
    header div:nth-child(3){
        display: none;
    }
    header div:nth-child(4){
        display: none;
    }
    header div:nth-child(5){
        display: none;
    }
    header div:nth-child(6){
        display: block;
    }
    header div:nth-child(7){
        display: block;
        margin-right: 0px;
    }
    footer{
        flex-direction: row;
        height: 60px;
        flex-wrap: wrap;
        font-size: small;
    }
    footer div{
        padding: 5px;
    }
    div ul li{
        font-size: 18px;
    }
    .personaje{
        flex-direction: column;
        height: auto;
    }
    .personaje div{
        width: 100%;
        height: auto;
        min-height: 400px;
    }
    .img_responsive{
        max-height: 400px;
    }

    .enemigos{
        height: auto;
    }
    .enemigos div{
        flex-direction: column;
        width: 100%;
    }
    header{
        height: 70px;
    }
    header a{
        font-size: medium;
        padding: 0px;
    }

    #logo{
        height: 35px; 
        width: 35px; 
        margin-left: 0px;
    }

    .contenedor-video{
        margin-top: 100px;
      }
    .habilidades{
        flex-direction: column;
        height: auto;
    }
    .habilidades div:not(.mySlides){
        width: 100%;
    }


    #form{
        margin: 20px;
        width: 100%;
        height: auto;
    }
}   