

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    width: 100%;
    height: auto;
    position: relative;
    margin: auto;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev {
    left: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  
  /* The dots/bullets/indicators */
  .dot {
    flex-basis: 25%;
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50%;
    box-sizing: border-box;
    transition: background-color 0.6s ease;
  }

  .dot img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  .dot img:hover{
    border: 1px solid white;

  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
    
  }
  
  .gadget_video{
      height: 400px; 
      min-height: 400px;
  }

  .mySlides{
    width: 100%;
  }
  .mySlides img{
    border-radius: 45px 45px 45px 45px;
    width: 100%;
    height: auto;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width:540px){
    .prev, .next,.text {font-size: 11px}
    .mySlides div.gadget_video{
      height: 300px;
    }
  }